@import '@/styles/color.scss';

.home-container {
  height: 100vh;
  background: $main-blue;
  /*animation: background-gradient 10s linear infinite;*/

  .header {
    height: 15%;
    max-width: 390px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding: 0 30px;

    &__left-box {
      color: white;
    }

    &__logo {
      font-family: 'netmarble';
      font-weight: 700;
      font-size: 20px;
      cursor: pointer;
      margin-bottom: 5px;
    }

    &__sub {
      font-size: 10px;
    }

    &__right-box {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      background: url('@/assets/icons/profile.svg');
      background-size: cover;
      cursor: pointer;
    }
  }
  .section {
    height: 10%;
    margin: 0 auto;
    max-width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;

    &__category {
      font-size: 10px;
      position: absolute;
      left: 25%;
      top: 15px;
    }

    .active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    &__input {
      background: $main-blue;
      /*animation: background-gradient 10s linear infinite;*/
      color: white;
      border-width: 0 0 2px 0;
      border-bottom: 2px solid white;
      height: 30px;
      padding: 5px 25px 5px 8px;
      font-size: 12px;
      width: 50%;

      &::placeholder {
        color: white;
        font-size: 12px;
        font-weight: 400;
      }
    }
    &__search-img {
      background: url('@/assets/icons/search.svg');
      width: 16px;
      height: 16px;
      margin-left: -20px;
      cursor: pointer;
    }

    &__dropdown {
      z-index: 1000;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
      opacity: 0;
      transform: translateY(20%);
      position: absolute;
      width: 50%;
      height: 180px;
      background: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      bottom: -165px;

      .dropdown__cards {
        height: 153px;
        overflow-y: hidden;

        .spinner__container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          .spinner {
            width: 100px;
            animation: spin 2000ms infinite linear;
          }
        }
      }

      .dropdown__cards--scroll {
        height: 153px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      .dropdown__category {
        display: flex;
        align-items: center;
        gap: 7px;
        color: black;
        padding: 10px 10px 5px 10px;
        font-size: 11px;
        position: relative;
        white-space: nowrap;

        .selected {
          font-weight: bold;
          z-index: 1000;
        }

        .hidden {
          display: none;
        }

        .selections {
          font-weight: bold;
          display: flex;
          visibility: hidden;
          opacity: 0;
          transform: translateX(-10%);
          transition: all 0.3s ease-out;
          overflow-x: hidden;

          div {
            padding: 0 3px;
          }
        }

        .active {
          visibility: visible;
          opacity: 1;
          transform: translateX(0);
        }
      }

      .dropdown__msg {
        padding: 15px 20px;
        color: black;
        font-size: 14px;
      }

      .dropdown__card {
        padding: 15px 20px;
        color: black;
        display: flex;
        align-items: center;
        gap: 15px;

        font-size: 14px;
        cursor: pointer;
        &--icon {
          min-width: 16px;
          min-height: 16px;
          text-align: center;
        }
        &--text {
          white-space: nowrap;
        }
        &--type {
          background: $main-dark-blue;
          color: white;
          border-radius: 20px;
          font-size: 10px;
          padding: 2px 5px;
          font-weight: 200;
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
        }
        .hashtag {
          background: $main-pink;
          color: white;
        }
        .type {
          background: $main-light-blue;
          color: $main-dark-blue;
        }

        &:hover {
          background-color: $main-light-blue;
        }
      }
    }
  }

  .main {
    background-color: white;
    height: 75%;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    gap: 15px;
    font-family: 'Pretendard Variable';
    position: relative;

    &__title {
      font-weight: 700;
      font-size: 20px;
    }

    &__hashtags {
      max-width: 390px;
      display: flex;
      align-items: center;
      width: 100%;
      gap: 10px;
      overflow-x: scroll;
      padding: 0 5%;
      min-height: 30px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .hashtag {
        display: flex;
        min-width: fit-content;
        gap: 8px;
        align-items: center;
        background: $main-light-blue;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 200;
        white-space: nowrap;
      }

      .msg {
        display: flex;
        gap: 8px;
        align-items: center;
        color: $main-blue;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 200;
        white-space: nowrap;
      }
    }

    &__gallery {
      max-width: 390px;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        &--image {
          min-width: 150px;
          width: 25vw;
          height: 18vh;
          border-radius: 10px;
          background-color: rgb(215, 215, 215);
          cursor: pointer;
          animation-name: fadeInTop;
          animation-duration: 0.5s;
        }

        &--skelton {
          min-width: 150px;
          width: 25vw;
          height: 18vh;
          border-radius: 10px;
          background-color: rgb(192, 192, 192);
          cursor: pointer;
          animation: skeleton-gradient 3s linear infinite;
        }
      }

      .spinner {
        display: none;
        background: url('@/assets/images/spinner.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 50px;
        min-width: 100px;
        min-height: 100px;
      }

      .load {
        display: none;
        cursor: pointer;
        border-radius: 10px;
        width: 200px;
        height: 40px;
        background-color: $main-light-blue;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        margin: 10px;
      }
    }

    .active {
      display: block;
      animation: spin 2000ms infinite linear;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 20px;
      bottom: 20px;
      gap: 10px;

      .main__button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: $main-blue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }

      .up {
        background-color: $main-dark-blue;
      }
    }
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes skeleton-gradient {
  0% {
    background: rgb(212, 212, 212);
  }
  50% {
    background: rgb(128, 128, 128);
  }
  100% {
    background: rgb(212, 212, 212);
  }
}

@keyframes background-gradient {
  0% {
    background: $main-dark-blue;
  }
  50% {
    background: $main-blue;
  }
  100% {
    background: $main-dark-blue;
  }
}
