@import "@/styles/color";

$backgroundImg: "@/assets/images/Postdetail2.svg";
$menu: "@/assets/icons/postdetail_menu.svg";

.postdetail-container {
  width: 100%;
  max-width: 500px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  text-align: center;
  position: relative;

  .header {
    background-color: pink;
    height: 47%;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      no-repeat;

    background-size: cover;
    background-position: center;
  }

  .postdetail-info {
    position: absolute;
    width: 100%;
    max-width: 500px;
    min-width: 400px;
    top: 43%;
    height: 30%;
    padding: 3vh 10%;
    background-color: #ffffff;
    border-radius: 16px 16px 0 0;

    .info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $main-light-blue;
      margin-bottom: 8px;
      padding-bottom: 8px;
      .info-profile {
        display: flex;
        align-items: center;
        cursor: pointer;
        .user-img {
          margin-right: 16px;
        }
        .user-nickname {
          line-height: 100%;
          font-size: 20px;
        }
      }

      .info-menu {
        position: relative;
        width: 25px;
        height: 20px;
        background-image: url($menu);
        background-size: cover;
        background-position: center;

        .info-menu-items {
          position: absolute;
          top: 120%;
          right: 0;
          width: 93px;
          height: 98px;
          border-radius: 4px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          padding: 8px 0;
          background-color: white;
          visibility: hidden;
          opacity: 0;
          transition: all ease-in-out 0.5s;
          z-index: 10;

          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .modify-post,
          .delete-post {
            cursor: pointer;
          }
        }

        .FadeInAndOut {
          visibility: visible;
          opacity: 1;
        }
      }

      .hidden {
        visibility: hidden;
      }
    }

    .info-contents {
      .info-tag-cards {
        display: flex;
        margin: 16px 0;
        padding-left: 4px;

        .info-model-card,
        .info-type-card {
          margin-right: 10px;
          padding: 6px 16px;
          border-radius: 5px;
          font-size: 12px;
        }

        .info-model-card {
          background-color: $main-light-blue;
        }

        .info-type-card {
          background-color: $main-dark-blue;
          color: $main-white;
        }
      }

      .info-hashtags {
        display: flex;
        margin-bottom: 8px;
        color: $main-blue;
        .info-hashtag {
          justify-content: flex-start;
          margin-right: 10px;
          font-size: 16px;
          font-family: "LINESeedKR-Rg";
        }
      }

      .info-description {
        font-size: 16px;
      }
    }
  }

  .postdetail-footer {
    position: fixed;
    width: 100%;
    max-width: 500px;
    min-width: 400px;
    bottom: 0;
    padding: 2vh 10%;
    justify-content: space-between;

    display: flex;
    align-items: center;
    border-top: 1px solid $main-light-blue;

    .like-info {
      display: flex;
      align-items: center;

      .like-button {
        margin-right: 8px;
      }
      .like-count {
        font-size: 16px;
      }
    }
    .posted-time {
      color: $main-blue;
      font-size: 12px;
    }
  }

  .back-button {
    position: fixed;
    top: 4px;
    left: 4px;
    width: 53px;
    height: 42px;
  }

  .alert-modal {
    width: 80%;
    margin: 0 10%;
    position: fixed;
    top: -60px;
    padding: 16px 5%;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;

    text-align: center;
    transition: all ease-in-out 1s;
    z-index: 10;
  }
  .pink {
    background-color: $main-pink;
  }
  .blue {
    background-color: $main-light-blue;
  }

  .alert-modal.FadeInAndOut {
    top: 60px;
  }

  .image-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;

    .close {
      position: absolute;
      top: 10px;
      right: 30px;
      color: $main-white;
      font-size: 30px;
      transition: 0.3s;
      font-family: "netmarbleB";
      font-weight: 300;
    }

    .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      height: auto;
      max-width: 300px;
      animation-name: zoom;
      animation-duration: 0.8s;
    }
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  .FadeInAndOut {
    visibility: visible;
    opacity: 1;
  }
}
