@import "@/styles/color.scss";

.profile__container {
	min-width: 300px;
	height: 100vh;
	background-color: $main-blue;

	button {
		padding: 8px 16px;
		border-radius: 8px;
	}

	header {
		color: white;
		padding: 8%;
		padding-bottom: 1%;

		.header-info {
			justify-content: space-between;
			padding: 16px;

			&-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 8px;
			}

			&-menu {
				width: 17px;
				height: 13px;
				background-image: url("@/assets/icons/profile_menu.svg");
				background-size: cover;
				background-position: center;
				position: relative;
				.info-menu-items {
					position: absolute;
					top: 20px;
					right: 0;
					width: 134px;
					height: 144px;
					gap: 10%;
					border-radius: 4px;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					padding: 16px 24px;
					background-color: white;
					color: black;

					display: flex;
					flex-direction: column;
					justify-content: space-around;

					visibility: hidden;

					h3 {
						font-weight: 700;
					}

					li {
						font-size: 12px;
					}
				}
			}

			.user-nickname {
				font-family: "LINESeedKR-Rg";
				font-size: 24px;
				color: $main-white;
			}

			.user-email {
				color: #dcdcdc;
				font-size: 14px;
				font-family: "Pretendard Variable";
			}

			.follow-button {
				background-color: $main-pink;
				color: $main-white;
				font-size: 16px;
				font-family: "LINESeedKR-Rg";
				font-weight: 200;
			}
		}

		.header-contents {
			display: flex;
			padding: 24px;
			justify-content: space-between;
			text-align: center;

			font-size: 14px;
			color: $main-white;

			.profile-posts-count,
			.profile-follower-count,
			.profile-following-count {
				margin-top: 4px;
				font-size: 32px;
				font-weight: 700;
				color: $main-white;
			}
		}
	}

	.profile__contents {
		background-color: $main-white;
		height: 100%;
		border-radius: 20px 20px 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 24px 35px;
		gap: 30px;
		font-family: "LINESeedKR-Rg";
		position: relative;

		&-header {
			font-size: 20px;
		}

		.profile__contents-posts {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
			overflow-y: scroll;
			-ms-overflow-style: none;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}

			.profile__contents-post {
				min-width: 150px;
				width: 25vw;
				height: 18vh;
				border-radius: 10px;
				background-color: rgb(215, 215, 215);
				cursor: pointer;
				background-image: url("@/assets/images/car.jpg");
				background-size: cover;
				background-position: center;
			}
		}

		.profile__contents-followers {
			width: 90%;
			overflow-y: scroll;
			-ms-overflow-style: none;
			scrollbar-width: none;

			.profile__contents-follower {
				display: flex;
				justify-content: space-between;
				width: 100%;
				margin-bottom: 16px;

				.follower-info {
					display: flex;
					align-items: center;

					.follower-info-icon {
						width: 40px;
						height: 40px;
						margin-right: 24px;
						background-image: url("@/assets/icons/postdetail_profile.svg");
						background-size: cover;
						background-position: center;
					}
				}

				.follower-delete-button {
					background-color: lightgray;
				}
			}
		}
	}

	.modify-modal {
		position: fixed;
		top: 30px;
		background-color: $main-white;
		width: 100vw;
		min-width: 300px;
		height: 90vh;
		z-index: 1;
		border-radius: 30px 30px 0px 0px;
		padding: 10% 10%;
		font-family: "LINESeedKR-Rg";
		visibility: hidden;

		.title {
			text-align: center;
			margin-bottom: 32px;
			font-size: 20px;
		}

		.modify-modal-form {
			.modify-modal-form-nickname {
				margin: 8px 0;
				.form-label {
					font-size: 16px;
					margin-bottom: 4px;
				}
			}

			.input-box {
				width: 100%;
				height: 48px;

				font-family: "LINESeedKR-Rg";
				border: 1px solid $main-blue;
				border-radius: 4px;
				margin: 8px 0;
				padding: 0 16px;
				background-color: inherit;
				&::placeholder {
					color: lightgray;
				}
			}
		}

		.modify-modal-footer {
			display: flex;
			justify-content: end;
			.modify-button {
				background-color: $main-light-blue;
				color: $main-blue;
				font-size: 12px;
			}
		}
	}
}
