@import '@/styles/color.scss';

$home: '@/assets/icons/home.svg';

.profile__container {
  min-width: 300px;
  height: 100vh;
  background-color: $main-blue;
  position: relative;

  button {
    padding: 8px 16px;
    border-radius: 8px;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
  }
  .blue {
    background-color: $main-light-blue;
  }
  .pink {
    background-color: $main-pink;
  }

  header {
    color: white;
    padding: 8%;
    padding-bottom: 1%;
    height: 27%;

    .header-info {
      justify-content: space-between;
      padding: 16px;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        .user-nickname {
          font-family: 'LINESeedKR-Rg';
          font-size: 24px;
          color: $main-white;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .home {
            margin-right: 8px;
            background-image: url($home);
            background-size: cover;
            background-position: center;
            width: 24px;
            height: 24px;
          }
        }

        .user-email {
          color: #dcdcdc;
          font-size: 14px;
          font-family: 'Pretendard Variable';
        }

        .follow-button {
          background-color: $main-pink;
          color: $main-white;
          font-size: 16px;
          font-family: 'LINESeedKR-Rg';
          font-weight: 200;
        }
      }

      &-menu {
        width: 17px;
        height: 13px;
        background-image: url('@/assets/icons/profile_menu.svg');
        background-size: cover;
        background-position: center;
        position: relative;
        cursor: pointer;

        .info-menu-items {
          position: absolute;
          top: 20px;
          right: 0;
          width: 134px;
          height: 144px;
          padding: 4px 0;
          border-radius: 4px 0;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          background-color: white;
          color: black;
          visibility: hidden;
          opacity: 0;
          transition: ease-in-out 0.7s;

          display: flex;
          flex-direction: column;
          justify-content: space-around;
          transition: all ease-in-out 0.2s;
          font-size: 12px;
          cursor: none;
          z-index: 1;

          h3 {
            cursor: auto;
            padding: 16px 0 4px 16px;
            font-weight: 700;
          }

          li {
            cursor: pointer;
            padding: 8px 16px;
            font-size: 12px;
            &:hover {
              background-color: $main-light-blue;
            }
          }
        }

        .FadeInAndOut {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .header-contents {
      display: flex;
      text-align: center;
      justify-content: center;
      font-size: 14px;
      color: $main-white;

      section {
        width: 30%;
        padding: 16px;
        margin-bottom: 8px;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          background-color: $main-dark-blue;
        }
      }

      .profile-posts-count,
      .profile-follower-count,
      .profile-following-count {
        margin-top: 4px;
        font-size: 32px;
        font-weight: 700;
        color: $main-white;
      }
    }
  }

  .profile__contents {
    min-width: 300px;
    background-color: $main-white;
    height: 73%;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 35px;
    gap: 30px;
    font-family: 'LINESeedKR-Rg';
    position: relative;

    &-header {
      font-size: 20px;
    }

    .profile__contents-posts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .profile__contents-post {
        min-width: 150px;
        width: 25vw;
        height: 18vh;
        border-radius: 10px;
        background-color: rgb(215, 215, 215);
        cursor: pointer;
        object-fit: cover;
        text-align: center;
      }
    }

    .profile__contents-followers {
      width: 90%;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      .profile__contents-follower {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;
        border-radius: 8px;

        .follower-info {
          display: flex;
          align-items: center;
          cursor: pointer;

          .follower-info-icon {
            width: 40px;
            height: 40px;
            margin-right: 24px;
            background-image: url('@/assets/icons/postdetail_profile.svg');
            background-size: cover;
            background-position: center;
          }
        }

        .follower-delete-button {
          background-color: lightgray;
          &:hover {
            background-color: $main-pink;
          }
        }
      }
    }
  }

  .modify-modal {
    position: fixed;
    bottom: -100%;
    background-color: $main-white;
    width: 100vw;
    min-width: 300px;
    height: 100%;
    z-index: 50;
    border-radius: 30px 30px 0px 0px;
    padding: 10% 10%;
    font-family: 'LINESeedKR-Rg';
    transition: all ease-in-out 0.5s;

    .title {
      position: relative;
      text-align: center;
      margin-bottom: 32px;
      font-size: 20px;

      .cancel-button {
        position: absolute;
        width: 15px;
        height: 15px;
        background-image: url('@/assets/icons/xButton.svg');
        background-size: cover;
        background-position: center;
        top: 5px;
        right: 5px;
        cursor: pointer;
      }
    }

    .modify-modal-form {
      .modify-modal-form-nickname {
        margin: 8px 0;
        .form-label {
          font-size: 16px;
          margin-bottom: 4px;
        }
      }

      .modify-modal-form-password,
      .modify-modal-form-modify-password,
      .modify-modal-form-password-confirm {
        position: relative;
        .eyes {
          position: absolute;
          bottom: 25%;
          right: 5%;
          width: 20px;
          height: 20px;
          background-image: url('@/assets/icons/eye.png');
          filter: opacity(0.7);
          background-size: cover;
          background-position: center;
        }

        .slash {
          background-image: url('@/assets/icons/eye-slash.png');
          filter: opacity(0.4);
        }
      }

      .input-box {
        width: 100%;
        height: 48px;

        font-family: 'LINESeedKR-Rg';
        border: 1px solid $main-blue;
        border-radius: 4px;
        margin: 8px 0;
        padding: 0 16px;
        background-color: inherit;
        &::placeholder {
          color: lightgray;
        }
      }
    }

    .modify-modal-footer {
      display: flex;
      justify-content: end;
      .modify-button {
        background-color: $main-light-blue;
        color: $main-blue;
        font-size: 12px;
      }
    }
  }

  .modify-modal.FadeInAndOut {
    bottom: -3%;
  }

  .password .modify-modal-form-nickname,
  .nickname .modify-modal-form-password,
  .nickname .modify-modal-form-modify-password,
  .nickname .modify-modal-form-password-confirm {
    display: none;
  }

  .hidden {
    visibility: visible;
    opacity: 1;
  }

  .alert-modal {
    width: 80%;
    margin: 0 10%;
    position: fixed;
    top: -60px;
    padding: 16px 5%;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;

    text-align: center;
    transition: all ease-in-out 1s;
    z-index: 100;
  }

  .FadeInAndOut {
    visibility: visible;
    opacity: 1;
  }

  .alert-modal.FadeInAndOut {
    top: 60px;
  }

  .not-exist-nickname {
    position: fixed;
    text-align: center;
    top: 5%;
    padding: 10%;
    background-color: $main-white;
    width: 100vw;
    visibility: hidden;
    min-width: 300px;
    height: 80%;
    font-family: 'LINESeedKR-Rg';
    border-radius: 30px 30px 0px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $main-pink;

    .alert-main-image {
      width: 100%;
      height: 41%;
      margin-top: 0%;
      background-image: url('@/assets/images/red.png');
      background-size: cover;
      background-position: center;
    }

    .alert-contents {
      margin-top: 8px;
      display: flex;
      width: 100%;
      height: 50%;
      align-items: center;
      .alert-image {
        width: 39%;
        height: 32%;
        background-image: url('@/assets/images/warning.png');
        background-size: cover;
        background-position: center;
      }
    }
  }

  .visible {
    visibility: visible;
  }
}
