@font-face {
  font-family: 'netmarbleB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

html,
  body {
    font-family: "LINESeedKR";
    #app {
      margin: 0 auto;
      min-height: 100vh;
    }
  }
  button {
    border: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
