@import '@/styles/color.scss';

.login__container {
  background: #ffffff;
  text-align: center;
  padding: 30% 0;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;

  header {
    margin-bottom: 20px;

    .header-image,
    .header-logo,
    .header-message {
      margin: 8px;
    }

    .header-image {
      width: 86px;
      height: 50px;
    }
    .header-logo {
      font-family: 'netmarbleB';
      font-size: 30px;
      height: 30px;
    }
    .header-message {
      font-family: 'LINESeedKR-Rg';
      font-size: 14px;
      height: 36px;
    }
  }

  .input-box {
    font-family: 'LINESeedKR-Rg';
    width: 297px;
    height: 48px;
    border: 1px solid $main-blue;
    border-radius: 4px;
    margin: 8px;
    padding: 0 16px;
  }

  .login-contents {
    .input-form {
      padding: 0 10%;
    }

    .login-id,
    .login-password {
      font-family: 'Pretendard-Regular';
      padding-left: 8%;
      text-align: start;
    }

    .input-form-button {
      font-family: 'LINESeedKR-Rg';
      width: 297px;
      height: 48px;
      background-color: $main-blue;
      color: $main-white;
      border-radius: 8px;
      margin: 16px 8px;
    }
  }

  .login-footer {
    display: flex;
    margin: 8px 15%;
    justify-content: flex-end;

    h3 {
      margin-right: 1%;
    }

    h3.register {
      font-family: 'LINESeedKR-Bd';
      text-decoration: underline;
    }

    h3.footer-message {
      font-family: 'LINESeedKR-Rg';
    }
  }

  .alert-modal {
    width: 80%;
    margin: 0 10%;
    position: fixed;
    top: -60px;
    padding: 16px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;

    transition: all ease-in-out 0.5s;
  }
  .success {
    background-color: $main-light-blue;
  }
  .fail {
    background-color: $main-pink;
  }

  .FadeInAndOut {
    visibility: visible;
    opacity: 1;
    top: 50px;
  }
}
