@import "@/styles/color.scss";

.login__container {
  background: #ffffff;
  text-align: center;
  padding: 15vh 20%;
  width: 100%;
  max-width: 500px;
  min-width: 400px;
  margin: 0 auto;

  header {
    margin-bottom: 20px;

    .header-image,
    .header-logo,
    .header-message {
      margin: 8px;
    }

    .header-image {
      width: 86px;
      height: 50px;
    }
    .header-logo {
      font-family: "netmarbleB";
      font-size: 30px;
      height: 30px;
    }
    .header-message {
      font-family: "LINESeedKR-Rg";
      font-size: 14px;
      height: 36px;
    }
  }

  .input-box {
    font-family: "LINESeedKR-Rg";
    width: 297px;
    height: 48px;
    border: 1px solid $main-blue;
    border-radius: 4px;
    margin: 8px;
    padding: 0 16px;
  }

  .login-contents {
    .login-id,
    .login-password {
      font-family: "Pretendard-Regular";
      padding-left: 20px;
      text-align: start;
    }

    .input-form-button {
      font-family: "LINESeedKR-Rg";
      width: 297px;
      height: 48px;
      background-color: $main-blue;
      color: $main-white;
      border-radius: 8px;
      margin: 16px 8px;
    }
  }

  .login-footer {
    display: flex;
    margin: 8px 5%;
    justify-content: flex-end;

    h3 {
      margin-right: 10px;
    }

    h3.register {
      font-family: "LINESeedKR-Bd";
      // font-weight: 700;
    }

    h3.footer-message {
      font-family: "LINESeedKR-Rg";
    }
  }

  .alert-modal {
    width: 297px;
    margin: 0;
    position: fixed;
    top: -60px;
    background-color: $main-pink;
    padding: 16px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;

    transition: all ease-in-out 0.5s;
  }
  .FadeInAndOut {
    visibility: visible;
    opacity: 1;
    top: 50px;
  }
}
